[user]
	email = fanzhidongyzby@gmail.com
	name = Florian 
[core]
	editor = vim
[alias]
	st = status
	cm = commit
	br = branch
	ck = checkout
	df = diff
	ad = add
	lo = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pl = pull
	ps = push
	fc = fetch
	re = remote
	sh = stash
	mg = merger
	rb = rebase
	rs = reset
